<a class="btn btn-primary list-group-item-action" href="http://localhost:4567/memos/new">追加</a>

<%# メモのタイトルを全て表示する %>
<% unless @all_memos.nil? %> <%# データが存在しているのか確認 %>
  <% @all_memos.each do |memo| %>
    <p><a class="list-group-item list-group-item-action" href="http://localhost:4567/memos/<%= memo['id'] %>">•<%= memo['title'].empty? ? '[no_title]': memo['title'] %></a></p>
  <% end %>
<% end %>
